*{
    font-family: sans-serif;
}

.box{
    background-color: #051E34;
    height: 75rem;
    width: 10rem;
    background-image: url(../img/sidebar-bg.png);
    color: white;
    padding: 1rem 1rem;
    
}

.my-blu{
    background-color: #1B72E8;
    color: white;
}

.btn-blu{
    background-color: #165BBA;
}

.my-list{
    
    border: none;
    
}
.my-p45{
    padding-right: 45%;
}

.my-p55{
    padding-right:53% ;
}

